@use './export' as *;
@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    @include tablet{
        font-size: 1.4rem;
    }
    @include mobile{
        font-size: 1.2rem;
    }
    font-family:$font-family;  
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: $main-color;
    background-color: $main-bg;
}


a{
    text-decoration: none;
}